.header_logo img {
  width: 50%;
}
.header_logo {
  text-align: center;
}
.nav {
  background-color: black;
}
.nav a {
  text-decoration: none;
  color: white;
  line-height: 40px;
  margin: 15px;
  padding: 10px;
  transition: linear all 0.3s;
}
.nav a:hover {
  background-color: lightgray;
  transition: linear all 0.3s;
}
